/* the overall background color is only used this once */
body {
    margin-top: -30px;
    background-color: #d9dcd6;
}

/* format for h1 */
h1 {
    text-align: center;
    font-size: 50px;
}

/* flex box for the main body content */
section {
    background-color: white;
    padding: 2% 8% 2% 8%;
    margin: 2%;
    display:flex;
    flex-direction: column;
    box-shadow: 0 0 10px gray;
}

/* format for h2 in section */
section h2 {
    border-bottom: 2px solid #d9dcd6;
    padding-bottom: 2%;
    font-size: 30px;
}

section div {
    height: 160px;
    border: 2px dashed gray;
    font-size: 20px;
    color: gray;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
    margin-bottom: 2%;
}

/* make sure password properly wraps */
#pw {
    width: 90%;
    text-align: center;
    word-wrap: break-word;
}

/* auto select when clicked on, change default bg color*/
#pw:active {
    user-select:all;
}
#pw::selection{
    background-color: lightblue;
}

section button {
    font-size:26px;
    width: fit-content;
    padding: 10px 22px 10px 22px;
    color: white;
    background-color: darkred;
    border:none;
    border-radius: 25px;
    margin: auto;
}

section button:hover {
    background-color: red;
    box-shadow: 0 0 10px gray;
}

section button:active {
    background-color: darkred;
    box-shadow: 0 0 20px black;
}